{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Shopping Bag</h2>
        </div>
        <div class="col text-right">
            <a href="{% url 'checkout' %}" class="btn-outline-success my-2 btn"><strong>Checkout</strong></a>
        </div>
    </div>
    <hr>

    <!-- If there are items in the bag. -->
    {% if bag_items %}
        <!-- Show items in the bag. Needs to show quantity and unit total. -->
        {% for item in bag_items %}
            <div class="row">
                <!-- Show product image, if available. Else show a placeholder. -->
                <div class="col-3">
                    {% if item.product.image %}
                        <img src="{{ item.product.image.url }}" class="card-img-top" alt="{{ item.product.name }}">
                    {% else %}
                        <!-- <img src="{{ MEDIA_URL }}noimage.png" class="card-img-top" alt="{{ item.product.name }}"> -->
                        <img src="../media/noimage.png" class="card-img-top" alt="{{ item.product.name }}">
                    {% endif %}
                </div>

                <!-- Show product details. -->
                <div class="col">
                    <h5 class="card-title">{{ item.product.name }}</h5>

                    <!-- If it is on sale, show the sale price with normal price struck out. Else, show normal price. -->
                    {% if item.product.old_price %}
                        <p class="card-text strike-through">Was: €{{ item.product.old_price }}</p>
                        <p class="card-text">Now: €{{ item.product.price }}</p>
                    {% else %}
                        <p class="card-text">€{{ item.product.price }}</p>
                    {% endif %}

                    <!-- Show quantity, quantity controls, and item subtotal. -->
                    <p>Quantity: {{ item.quantity }}</p>
                    <form class="update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                        <!-- Form from Boutique Ado -->
                        {% csrf_token %}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="decrement-qty btn btn-outline-success my-2 my-sm-0" 
                                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                    <span class="icon">
                                        <i class="fas fa-minus"></i>
                                    </span>
                                </button>
                            </div>
                            <input class="form-control qty_input btn-outline-success my-2 my-sm-0" type="number"
                                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                data-item_id="{{ item.item_id }}"
                                id="id_qty_{{ item.item_id }}">
                            <div class="input-group-append">
                                <button class="increment-qty btn btn-outline-success my-2 my-sm-0"
                                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                    <span class="icon">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <!-- <div class="text-right"> -->
                        <a class="update-link btn-outline-success my-2 btn">Update</a>
                        <a class="remove-item btn-outline-success my-2 btn" id="remove_{{ item.item_id }}" data-size="{{ item.variant }}">Remove</a>
                    <!-- </div> -->

                    <p><strong>Subtotal: {{ item.product.price | calc_subtotal:item.quantity }}</strong></p>
                </div>
            </div>
            <hr>
        {% endfor %}

        <div class="text-center">
            <p>Item total: {{ total|floatformat:2 }}</p>
            <p>Shipping cost: {{ delivery|floatformat:2 }}</p>
            <p><strong>Total cost: {{ grand_total|floatformat:2 }}</strong></p>
        <!-- </div>
        <div> -->
            <!-- Turn these into buttons. -->
            <a href="{% url 'products' %}?sort=rating&direction=asc" class="btn-outline-success my-2 btn">Keep shopping</a>
            <br>
            <a href="{% url 'checkout' %}" class="btn-outline-success my-2 btn"><strong>Checkout</strong></a>
        </div>
    
    <!-- If the bag is empty. -->
    {% else %}
    <p>Your shopping bag is currently empty.</p>
    <p>
        <a href="{% url 'products' %}?sort=rating&direction=asc">Shop for products.</a>
    </p>
    {% endif %}
</div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}

    <!-- Modified from Boutique Ado. -->
    <script type="text/javascript">
        // Update quantity on click
        $('.update-link').click(function(e) {
            var form = $(this).prev('.update-form');
            form.submit();
        })

        // Remove item and reload on click
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var variant = $(this).data('variant');
            var url = `/bag/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken, 'variant': variant};

            $.post(url, data)
            .done(function() {
                location.reload();
            });
        })
    </script>
{% endblock %}
