{% extends "base.html" %}
{% load static %}

<!-- {% block page_header %}
{% endblock %} -->

{% block content %}
<div class="container">
    <div class="row">
        <div class="column">
            <h2>Shopping Bag</h2>
            <hr>
            {% if bag_items %}
            {% else %}
            <p>Your shopping bag is currently empty.</p>
            <p>
                <a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=asc">Shop for products.</a>
            </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}