{% extends "base.html" %}
{% load static %}

<!-- {% block page_header %}
{% endblock %} -->

{% block content %}
    <div class="container">
        <div class="row">
            <div class="column">

                <h2>Bestsellers</h2>
                <div class="row row-cols-1 row-cols-md-4">
                    {% for product in best_selling %}
                        {% include './includes/gallery_display.html' %}
                    {% endfor %}
                </div>

                <hr>

                <h2>Cooking</h2>
                <div class="row row-cols-1 row-cols-md-4">
                    {% for product in cooking %}
                        {% include './includes/gallery_display.html' %}
                    {% endfor %}
                </div>

                <hr>

                <div class="">It works!</div>
                <div>
                    <p>Threshold is {{ free_delivery_theshold }}</p>
                </div>
                <div>Bag items is {{ bag_items }}</div>
                <div>Total is {{ total }}</div>
            </div>
        </div>
    </div>
{% endblock %}