{% extends "base.html" %}
{% load static %}

<!-- {% block page_header %}
{% endblock %} -->

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">

                <article class="opening-para">
                    <h2 class="main-title">Welcome to Endless Explorer!</h2>
                    <p><strong>Endless Explorer</strong> is your home for outdoor adventure and recreation. We have everything you could possibly need, right here - from camping lanterns and tents to coolers and navigation gadgets. Don't hit the trail without them!</p>
                </article>

                <section>
                    <h2>Sale Items</h2>
                    <div class="row row-cols-1 row-cols-md-4">
                        {% for product in sale_items %}
                            {% include './includes/gallery_display.html' %}
                        {% endfor %}
                    </div>
                </section>

                <hr>

                <section>
                    <h2><a class="index-cat-link" href="{% url 'products' %}?category=camping">Camping</a></h2>
                    <div class="row row-cols-1 row-cols-md-4">
                        {% for product in camping %}
                            {% include './includes/gallery_display.html' %}
                        {% endfor %}
                    </div>
                </section>

                <hr>

                <section>
                <h2><a class="index-cat-link" href="{% url 'products' %}?category=cooking">Cooking</a></h2>
                    <div class="row row-cols-1 row-cols-md-4">
                        {% for product in cooking %}
                            {% include './includes/gallery_display.html' %}
                        {% endfor %}
                    </div>
                </section>

                <hr>

                <section>
                    <h2><a class="index-cat-link" href="{% url 'products' %}?category=lighting">Lighting</a></h2>
                    <div class="row row-cols-1 row-cols-md-4">
                        {% for product in lighting %}
                            {% include './includes/gallery_display.html' %}
                        {% endfor %}
                    </div>
                </section>

                <hr>

                <section>
                    <h2><a class="index-cat-link" href="{% url 'products' %}?category=navigation">Navigation</a></h2>
                    <div class="row row-cols-1 row-cols-md-4">
                        {% for product in navigation %}
                            {% include './includes/gallery_display.html' %}
                        {% endfor %}
                    </div>
                </section>

                <hr>

                <section>
                    <h2><a class="index-cat-link" href="{% url 'products' %}?category=gadgets">Gadgets</a></h2>
                    <div class="row row-cols-1 row-cols-md-4">
                        {% for product in gadgets %}
                            {% include './includes/gallery_display.html' %}
                        {% endfor %}
                    </div>
                </section>

                <hr>

                <section>
                    <h2><a class="index-cat-link" href="{% url 'products' %}?category=hiking">Hiking</a></h2>
                    <div class="row row-cols-1 row-cols-md-4">
                        {% for product in hiking %}
                            {% include './includes/gallery_display.html' %}
                        {% endfor %}
                    </div>
                </section>

                <hr>

                <section>
                    <h2><a class="index-cat-link" href="{% url 'products' %}?category=food-and-drink">Food and Drink</a></h2>
                    <div class="row row-cols-1 row-cols-md-4">
                        {% for product in food_and_drink %}
                            {% include './includes/gallery_display.html' %}
                        {% endfor %}
                    </div>
                </section>

                <hr>

                <div class="d-flex justify-content-center">
                    <!-- Mailchimp form -->
                    {% include './includes/mailchimp.html' %}
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}