<!-- Heavily modified from Boutique Ado project -->
<script type="text/javascript">

    {% if product.has_variants %}
            // To set the default max value of the quantity selector to default selected variant stock value.
            // This has to be done programatically because the first variant might not always be avaialable.
            // How to get data values from dropdown option pickers: https://stackoverflow.com/questions/38519791/how-to-get-data-attribute-of-option-tag-in-javascript
            var e = document.getElementById("variant_picker");
            var option = e.options[e.selectedIndex];
            var stock = option.getAttribute("data-stock") - 1;
    {% else %}
            // If a standard product, simply set max quantity to the current stock level.
            // Guidance on how to refer to models in JS found in  https://stackoverflow.com/questions/58292527/how-to-use-djangos-models-in-javascript
            var stock = {{ product.stock_quantity|safe }} - 1;
    {% endif %}

    // Ensure proper enabling/disabling of all inputs on page load
    var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var itemId = $(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemId);
    };

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function() {
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId, stock);
    });

    // Increment quantity
    $('.increment-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue + 1);
       var itemId = $(this).data('item_id');
       handleEnableDisable(itemId, stock);
    });

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue - 1);
       var itemId = $(this).data('item_id');
       handleEnableDisable(itemId, stock);
    });

    // Change variant
    $('#variant_picker').change(function(e) {
        var e = document.getElementById("variant_picker");
        var option = e.options[e.selectedIndex];
        var stock = option.getAttribute("data-stock") - 1;
        handleEnableDisable(itemId, stock);
    });

    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(itemId, stock) {
        var currentValue = parseInt($(`#id_qty_${itemId}`).val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > stock;
        $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
    };
</script>