<!-- Select quantity of product. -->
<p>Quantity:</p>
<!-- <div class="input-group">
    <button data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}" class="decrement-qty">Decrease</button>
    <input type="number" name="quantity" class="qty-input" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
    <button data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}" class="increment-qty">Increase</button>
</div> -->

<!-- Modified from Boutique Ado project -->
<div class="input-group">
    <div class="input-group-prepend">
        <button class="decrement-qty btn btn-outline-success my-2 my-sm-0"
            data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
            <span class="icon">
                <i class="fas fa-minus"></i>
            </span>
        </button>
    </div>
    <input class="form-control qty_input btn-outline-success my-2 my-sm-0" type="number"
        name="quantity" value="1" min="1" max="99"
        data-item_id="{{ product.id }}"
        id="id_qty_{{ product.id }}">
    <div class="input-group-append">
        <button class="increment-qty btn btn-outline-success my-2 my-sm-0"
            data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
            <span class="icon">
                <i class="fas fa-plus"></i>
            </span>
        </button>
    </div>
</div>