{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="column">
            <h2>My Profile</h2>
            <hr>
            {{ profile }}
        </div>
    </div>
    <div class="row">
        <div class="column">
            <p>User Details Form</p>
            <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-black rounded-0">Update Information</button>
            </form>
        </div>
        <div class="column">
            <p>Order History</p>
            {% for order in orders %}
                <div>
                    <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                    {{ order.order_number|truncatechars:6 }}
                    </a>
                </div>
                <div>
                    <p>{{ order.date }}</p>
                </div>
                <div>
                    {% for item in order.lineitems.all %}
                        <li>
                            <!-- {% if item.product.has_sizes %} -->
                                <!-- Size {{ item.product.size|upper }} -->
                            <!-- {% endif %} -->
                            {{ item.product.name }} x{{ item.quantity }}
                        </li>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
