{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Wishlist for {{ user }}</h2>
        </div>
    </div>
    <hr>

    <!-- If there are items in the wishlist. -->
    {% if wishlist_item %}
        <!-- Show items in the bag. Needs to show quantity and unit total. -->
        {% for item in wishlist_item %}
            <div class="row">
                <!-- Show product image, if available. Else show a placeholder. -->
                <div class="col-3">
                    <a href="{% url 'product_view' item.product.id %}">
                        {% if item.product.image %}
                            <img src="{{ item.product.image.url }}" class="card-img-top" alt="{{ item.product.name }}">
                        {% else %}
                            <!-- <img src="{{ MEDIA_URL }}noimage.png" class="card-img-top" alt="{{ item.product.name }}"> -->
                            <img src="../media/noimage.png" class="card-img-top" alt="{{ item.product.name }}">
                        {% endif %}
                    </a>
                </div>

                <!-- Show product details. -->
                <div class="col">
                    <h5 class="card-title">
                        <a href="{% url 'product_view' item.product.id %}">{{ item.product.name }}</a>
                    </h5>

                    <!-- If it is on sale, show the sale price with normal price struck out. Else, show normal price. -->
                    {% if item.product.old_price %}
                        <p class="card-text strike-through">Was: €{{ item.product.old_price }}</p>
                        <p class="card-text">Now: €{{ item.product.price }}</p>
                    {% else %}
                        <p class="card-text">€{{ item.product.price }}</p>
                    {% endif %}

                    <div class="col">
                        <form class="form" action="{% url 'add_to_bag' item.product.id %}" method="POST">
                            {% csrf_token %}
                            <div>
                                <!-- Allow selection of variant styles, if they exist. -->
                                {% if product.has_variants %}
                                    <div class="text-right">
                                        <a class="btn-outline-success my-2 btn" href="{% url 'product_view' item.product.id %}">Details</a>
                                        <br>
                                        <a class="remove-item btn-outline-success my-2 btn" id="wishlistremove_{{ item.product.id }}" href="{% url 'remove_from_wishlist' item.product.id %}">Remove</a>
                                    </div>
                                {% else %}
                                    <!-- Select quantity of product. -->
                                    <input class="form-control qty_input hide" type="number"
                                    name="quantity" value="1" min="1" max="99"
                                    data-item_id="{{ item.product.id }}"
                                    id="id_qty_{{ item.product.id }}">
                                    <div class="text-right">
                                        <input type="submit" class="add-to-bag-button btn-outline-success my-2 btn" value="Quick Buy">
                                        <br>
                                        <a class="remove-item btn-outline-success my-2 btn" id="wishlistremove_{{ item.product.id }}" href="{% url 'remove_from_wishlist' item.product.id %}">Remove</a>
                                    </div>
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                {% endif %}
                            </div>
                        </form>
                    </div>
                    <!-- <div class="text-right">
                        <a class="remove-item btn-outline-success my-2 btn" id="wishlistremove_{{ item.product.id }}" href="{% url 'remove_from_wishlist' item.product.id %}">Remove</a>
                    </div> -->
                </div>
            </div>
            <hr>
        {% endfor %}
    
    <!-- If the wishlist is empty. -->
    {% else %}
    <p>Your wishlist currently empty.</p>
    <p>
        <a href="{% url 'products' %}?sort=rating&direction=asc">Shop for products.</a>
    </p>
    {% endif %}
</div>

    
{% endblock %}
