{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">

            {% if from_profile %}
                <h2>Order History</h2>
                <p>This is information for order number: {{ order.order_number }}</p>
                <p>A confirmation email was sent when this order was placed.</p>
                <a href="{% url 'profile' %}" class="btn-outline-success my-2 btn">
                    <span class="icon mr-2">
                        <i class="fas fa-angle-left"></i>
                    </span>
                    <span class="text-uppercase">Back to Profile</span>
                </a>
            {% else %}
                <h2>Thank You {{ order.full_name }}</h2>
                <p>Your order is being processed and a confirmation email is on the way to {{ order.email }}! Order information is below.</p>
                <a href="{% url 'home' %}" class="btn-outline-success my-2 btn">
                    <span class="icon mr-2">
                        <i class="fas fa-angle-left"></i>
                    </span>
                    <span class="text-uppercase">Back to Store</span>
                </a>
            {% endif %}

            <hr>

            <h3>Order Information</h3>
            <p>Order number: {{ order.order_number }}</p>
            <p>Order date: {{ order.date }}</p>

            <hr>

            <div class="row">
                <div class="col">
                    <h3>Order Details</h3>
                    {% for item in order.lineitems.all %}
                        <br>
                        <div class="row">
                            <div class="col-2">
                                {% if item.product.image %}
                                    <img class="w-100" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                                {% else %}
                                    <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                {% endif %}
                            </div>
                            <div class="col">
                                <p>{{ item.product.name }}</p>
                                <p>Style: {% if item.product.has_variants %}{{ item.variant|upper }}{% else %}N/A{% endif %}</p>
                                <p>{{ item.order_quantity }} @ ${{ item.product.price }} each</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="col">
                    <h3>Delivery Address:</h3>
                    <p>{{ order.full_name }}</p>
                    <p>{{ order.street_address_1 }}</p>
                    <p>{{ order.street_address_2 }}</p>
                    <p>{{ order.town_or_city }}</p>
                    <p>{{ order.county }}</p>
                    {% if order.postcode %}
                        <p>{{ order.postcode }}</p>
                    {% endif %}
                    <p>{{ order.country }}</p>
                    <p>{{ order.phone }}</p>
                </div>
            </div>

            <hr>

            <h3>Billing Details:</h3>
            
            <p>Order total: {{ order.order_total }}</p>
            <p>Delivery cost: {{ order.delivery_cost }}</p>
            <p>Grand total: <strong>{{ order.grand_total }}</strong></p>

        </div>
    </div>
</div>
{% endblock %}
