body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

/* .clear {
  clear: both;
} */

.large-text {
  font-size: large;
}

.xxlarge-text {
  font-size: xx-large;
}

.strike-through {
  text-decoration-line: line-through;
  color: red;
}

.update-link, .remove-item {
  cursor: pointer;
}

.blue-bold {
  color: blue;
  font-weight: 700;
}