body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.xxlarge-text {
  font-size: xx-large;
}

.strike-through {
  text-decoration-line: line-through;
  color: red;
}

.update-link, .remove-item {
  cursor: pointer;
}

/* .message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 999999;
} */

/* .message-container { */
  /* position: fixed; */
  /* top: 72px;
  right: 15px;
  z-index: 9999; */
/* } */

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}