body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.large-text {
  font-size: large;
}

.xxlarge-text {
  font-size: xx-large;
}

.strike-through {
  text-decoration-line: line-through;
  color: red;
}

.update-link, .remove-item {
  cursor: pointer;
}

.blue-bold {
  color: blue;
  font-weight: 700;
}

.product-detail-image {
  size: 350px;
}

.add-to-bag-button {
  margin-top: 8px;
}

/* CSS to remove arrows from number input taken from https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#order-history {
  padding-left: 50px;
  width: 300px;
}

.order-history-bullet {
  margin-left: 20px;
}

.messages {
  clear: both;
  background: yellow;
  color: black;
  text-align: center;
}

/* .front-page-category {
  padding-bottom: 10px;
} */