<!-- Modified from https://getbootstrap.com/docs/4.6/components/card/#grid-cards -->

<!-- Present a card for the product -->
<div class="col mb-4">
    <div class="card h-100">
        <!-- Show product image, if available. Else show a placeholder. -->
        <a href="{% url 'product_view' product.id %}">
            {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
            {% else %}
                <!-- <img src="{{ MEDIA_URL }}noimage.png" class="card-img-top" alt="{{ product.name }}"> -->
                <img src="../media/noimage.png" class="card-img-top" alt="{{ product.name }}">
            {% endif %}
        </a>

        <!-- Show product details. Then if it is on sale, show the sale price. Else, normal price. -->
        <div class="card-body">
            <a href="{% url 'product_view' product.id %}">
                <h5 class="card-title">{{ product.name }}</h5>
            </a>
            <p class="card-text">{{ product.overview }}</p>
            <div class="row">
                    {% if product.old_price %}
                        <div class="col">
                            <p class="card-text strike-through">Was: €{{ product.old_price }}</p>
                            <p class="card-text">Now: €{{ product.price }}</p>
                        </div>
                    {% else %}
                        <div class="col vertical-center">
                            <p class="card-text">€{{ product.price }}</p>
                        </div>
                    {% endif %}

                <div class="col">
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div>
                            <!-- Allow selection of variant styles, if they exist. -->
                            {% if product.has_variants %}
                                <div class="text-right">
                                    <a class="btn-outline-success my-2 btn" href="{% url 'product_view' product.id %}">Details</a>
                                </div>
                            {% else %}
                                {% if product.stock_quantity > 0 %}
                                    <!-- Select quantity of product. -->
                                    <input class="form-control qty_input hide" type="number"
                                    name="quantity" value="1" min="1" max="99"
                                    data-item_id="{{ product.id }}"
                                    id="id_qty_{{ product.id }}">
                                    <div class="text-right">
                                        <input type="submit" class="add-to-bag-button btn-outline-success my-2 btn" value="Quick Buy">
                                    </div>
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                {% else %}
                                    <p class="out-of-stock">Out of stock!</p>
                                {% endif %}
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>