{% extends "base.html" %}
{% load static %}

<!-- {% block page_header %}
{% endblock %} -->

<!-- This block heavily modified from Boutique Ado project -->
{% block content %}
    <div class="container">
        <div class="row">
            <div class="column">
                <!-- Present the category name as page title, if a category has been selected. -->
                {% if current_categories %}
                    {% for c in current_categories %}
                        <h2>{{ c.friendly_name }}</h2>
                    {% endfor %}
                {% else %}
                    <h2>Products</h2>
                {% endif %}
                <hr>
                {% if products|length == 0 %}
                    <p>No products found for search term: <strong>"{{ search_term }}"</strong></p>
                {% elif products|length == 1 %}
                    <p>{{ products|length }} Product{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}</p>
                {% else %}
                    <p>{{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}</p>
                {% endif %}
            </div>
        </div>
        
        <!-- List of products -->
        <!-- Modified from https://getbootstrap.com/docs/4.6/components/card/#grid-cards -->
        <div class="row row-cols-1 row-cols-md-4">
            {% for product in products %}

                <!-- Present a card for the product -->
                <div class="col mb-4">
                    <div class="card h-100">

                        <!-- Show product image, if available. Else show a placeholder. -->
                        <a href="{% url 'product_view' product.id %}">
                            {% if product.image %}
                                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                            {% else %}
                                <!-- <img src="{{ MEDIA_URL }}noimage.png" class="card-img-top" alt="{{ product.name }}"> -->
                                <img src="../media/noimage.png" class="card-img-top" alt="{{ product.name }}">
                            {% endif %}
                        </a>

                        <!-- Show product details. Then if it is on sale, show the sale price. Else, normal price. -->
                        <div class="card-body">
                            <a href="{% url 'product_view' product.id %}">
                                <h5 class="card-title">{{ product.name }}</h5>
                            </a>
                            <p class="card-text">{{ product.description }}</p>
                            {% if product.old_price %}
                                <p class="card-text strike-through">Was: €{{ product.old_price }}</p>
                                <p class="card-text">Now: €{{ product.price }}</p>
                            {% else %}
                                <p class="card-text">€{{ product.price }}</p>
                            {% endif %}
                        </div>

                        <!-- Show product rating and category in the footer. -->
                        <div class="card-footer">
                            {% if product.category %}
                                <small class="text-muted">Category: 
                                    <a href="{% url 'products' %}?category={{ product.category }}">
                                        {{ product.category.friendly_name }}
                                    </a>
                                </small>
                                <br>
                            {% endif %}
                            {% if product.rating %}
                                <small class="text-muted">Average rating: {{ product.rating }}</small>
                            {% else %}
                                <small class="text-muted">No product rating.</small>
                            {% endif %}
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}