{% extends "base.html" %}
{% load static %}

<!-- Significantly modified from Boutique Ado project -->
{% block content %}
    <div class="container">
        <div class="row">
            <div class="column">
                <h2>{{ product.name }}</h2>
                <hr>
            </div>
        </div>
        
        <div class="row">
            <!-- Product image. -->
            <div class="col">
                {% if product.image %}
                    <!-- Open image in a new window. -->
                    <a href="{{ product.image.url }}" target="_blank">
                        <img src="{{ product.image.url }}" class="product-detail-image" alt="{{ product.name }}">
                    </a>
                {% else %}
                    <!-- <img src="{{ MEDIA_URL }}noimage.png" class="card-img-top" alt="{{ product.name }}"> -->
                    <img src="../media/noimage.png" class="card-img-top product-detail-image" alt="{{ product.name }}">
                {% endif %}
            </div>

            <!-- Product details, rating, add to bag. -->
            <div class="col">
                <!-- Price -->
                {% if product.old_price %}
                    <p class="strike-through">Was: €{{ product.old_price }}</p>
                    <p class="lead">Now: €{{ product.price }}</p>
                {% else %}
                    <p class="lead">Price: €{{ product.price }}</p>
                {% endif %}
                <hr>

                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div>
                        <!-- Allow selection of variant styles, if they exist. -->
                        {% if product.has_variants %}
                            <label for="variant">Choose a style:</label>
                            <select id="variant_picker" name="variant" class="btn-outline-success my-2 btn">
                                {% if product.variant_one %}
                                    {% if product.variant_one_stock_quantity > 0 %}
                                        <option value="{{ product.variant_one }}" data-stock="{{ product.variant_one_stock_quantity }}">{{ product.variant_one }} | {{ product.variant_one_stock_quantity }} in stock</option>
                                    {% else %}
                                        <option value="{{ product.variant_one }}" disabled>{{ product.variant_one }} | Out of Stock!</option>
                                    {% endif %}
                                {% endif %}
                                {% if product.variant_two %}
                                    {% if product.variant_two_stock_quantity > 0 %}
                                        <option value="{{ product.variant_two }}" data-stock="{{ product.variant_two_stock_quantity }}">{{ product.variant_two }} | {{ product.variant_two_stock_quantity }} in stock</option>
                                    {% else %}
                                        <option value="{{ product.variant_two }}" disabled>{{ product.variant_two }} | Out of Stock!</option>
                                    {% endif %}
                                {% endif %}
                                {% if product.variant_three %}
                                    {% if product.variant_three_stock_quantity > 0 %}
                                        <option value="{{ product.variant_three }}" data-stock="{{ product.variant_three_stock_quantity }}">{{ product.variant_three }} | {{ product.variant_three_stock_quantity }} in stock</option>
                                    {% else %}
                                        <option value="{{ product.variant_three }}" disabled>{{ product.variant_three }} | Out of Stock!</option>
                                    {% endif %}
                                {% endif %}
                            </select> 

                            <!-- Select quantity of product for variant product. -->
                            <!-- As indicated here, parenthesis are not permitted and so must use nested 'if' tags. https://docs.djangoproject.com/en/4.1/ref/templates/builtins/#boolean-operators -->
                            {% if product.variant_one_stock_quantity == 0 or product.variant_one == Null %}
                                {% if product.variant_two_stock_quantity == 0 or product.variant_two == Null %}
                                    {% if product.variant_three_stock_quantity == 0 or product.variant_three == Null %}
                                        <p class="out-of-stock">Out of stock!</p>
                                    {% else %}
                                        {% include 'products/includes/quantity_selection_form.html' %}
                                        {% include 'products/includes/add_to_bag_button.html' %}
                                    {% endif %}
                                {% else %}
                                    {% include 'products/includes/quantity_selection_form.html' %}
                                    {% include 'products/includes/add_to_bag_button.html' %}
                                {% endif %}
                            {% else %}
                                {% include 'products/includes/quantity_selection_form.html' %}
                                {% include 'products/includes/add_to_bag_button.html' %}
                            {% endif %}

                        {% else %}

                            <!-- Select quantity of product for non-variant product. -->
                            {% if product.stock_quantity > 0 %}
                                <small class="text-muted">{{ product.stock_quantity }} in stock.</small>
                                {% include 'products/includes/quantity_selection_form.html' %}
                                {% include 'products/includes/add_to_bag_button.html' %}
                            {% else %}
                                <p class="out-of-stock">Out of stock!</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </form>

                <!-- Add to Wishlist -->
                <form class="form" action="{% url 'add_to_wishlist' product.id %}" method="POST">
                    {% csrf_token %}
                    <div>
                        <div class="text-right">
                            <input type="submit" class="add-to-bag-button btn-outline-success my-2 btn" value="Add to Wishlist">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>

                <hr>
                <!-- Category -->
                {% if product.category %}
                    <small class="text-muted">Category: 
                        <a href="{% url 'products' %}?category={{ product.category }}">
                            {{ product.category.friendly_name }}
                        </a>
                    </small>
                    <br>
                {% endif %}
                <!-- Rating -->
                {% if product.rating %}
                    <small>Average rating: {{ product.rating }} out of 5</small>
                {% else %}
                    <small>No product rating.</small>
                {% endif %}
                <!-- Edit/Delete for Superuser -->
                {% if request.user.is_superuser %}
                    <br>
                    <small class="text-muted">
                        <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                        <a href="{% url 'delete_product' product.id %}">Delete</a>
                    </small>
                {% endif %}
                <hr>
                <p>{{ product.description }}</p>
            </div>

        </div>

        <div class="text-right">
            <a href="{% url 'products' %}?sort=rating&direction=desc" class="btn-outline-success my-2 btn">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="font-weight-bold">View more items</span>
            </a>
        </div>

    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}
{% endblock %}